@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

/* All */
body {
    height: 100%;
    background-color: #fce5e5 !important;
}

.content {
    position: relative;
    padding-bottom: 100px;
}

* {
    margin: 0;
    font-family: Poppins;
    color: #333;
    box-sizing: border-box;
}

.container {
    margin: 0 1.5rem;
}

.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchImg {
    cursor: pointer;
}

/* Header */
.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header h1 {
    font-weight: 900;
    color: #FF7777;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 32px;
    padding-left: 5px;
}

.loginIcon {
    cursor: pointer;
}

/* end of Header */

/* Login */
.login-box {
    height: 400x;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity .5s linear;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.closeLogin {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    color: #fff;
}

.login-box form {
    height: 100%;
    width: 100%;
    padding: 50px 35px;
    background-color: #FF7777;
}

.login-box form * {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.login-box h2 {
    text-align: center;
}

.login-box label {
    display: block;
    margin-top: 30px;
}

.login-box input {
    display: block;
    height: 35px;
    width: 100%;
    margin-top: 8px;
    border-radius: 3px;
    color: black;
    padding: 10px 0 10px 5px;

}

.login-box button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login-box .social {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.socialBtn,
.fa-x {
    cursor: pointer;
}

.login-box .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 10px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
}

.login-box .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.login-box .social .fb {
    margin-left: 25px;
}

.login-box .social i {
    margin-right: 4px;
}

.fa-brands,
.fab {
    font-family: "Font Awesome 6 Brands" !important;
}


/*Navbar*/

.navigationBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 90px;
    border-top: 1px solid #333;
    z-index: 1;
    background-color: #fff;
}

.navigationBar .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

.flexBasisSmall {
    flex-basis: 17.5%;
}

.flexBasisLarge {
    flex-basis: 30%;
}

.navigationBar a {
    text-decoration: none;
}

/* Navigation */

.searchBox {
    overflow: hidden;
    height: 100%;
    background-color: #FFF;
    padding: 5px;
    border-radius: 12px;
}

.searchBar {
    border-style: none;
    width: 100%;
    height: 40px;
    padding: 0 0 0 15px;
}

.animalLinks {
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
}

.petEmblem {
    cursor: pointer;
}

.petEmblem figure {
    width: 100px;
}

.petEmblem img {
    width: 70px;
    height: 70px;
    background-color: #3579F8;
    position: relative;
    border-radius: 50%;
}

/*Cards*/

/*Near and Recent*/

.nearBox {
    margin-top: 20px;
}

.animalContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 130px;
    height: 200px;
    margin: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.card-img {
    height: 50%;
}

.card-img img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 100%;
}

.cardInfo {
    padding: 12px;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardInfo p {
    font-size: .8rem;
}

/*CTA*/
.cta {
    margin-top: 15px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

/*Footer*/
footer {
    margin-top: 20%;
    padding-top: 10px;
    font-size: 1.2rem;
    border-top: .5px solid #333;

}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 5px 0;
}

footer li a {
    text-decoration: none;
}

.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerWrapper figure {
    text-align: center;
}

.footerMsg {
    text-align: center;
    margin-top: 20px;
    font-size: .8rem;
}

/* Pet page */
.displayPet {
    position: absolute;
    width: 100%;
    top: 0;
    margin-top: 10%;
    background-color: #fff;
    transition: opacity .2s linear;
}

.closePet {
    position: absolute;
    top: 0;
    color: black;
    font-size: 1.6rem;
    transform: translate(150%, 150%);
    background-color: #fff;
    line-height: 90%;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
}

.petImg {
    height: 250px;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.petImg img {
    width: 100%;
}

.petInfo {
    margin-top: 25px;
    border-radius: 25px 25px 0 0 ;
}

.petText {
    margin-top: 15px;
}

.petCta {
    margin: 25px 0;
}

.petAttributes {
    display: flex;
    margin: 15px 0;
    justify-content: space-around;
}

.attribute {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/logoRotated.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.attribute1 {
    background-color: #BED2F8;
}

.attribute2 {
    background-color: #CBE5DA;
}

.attribute3 {
    background-color: #ECD1CF;
}

.petCta {
    text-align: center;
}

.petCta button {
    width: 70%;
    height: 40px;
    border-radius: 12px;
    border-style: none;
    background-color: #3579F8;
    color: #fff;
    cursor: pointer;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .mobile-box {
        max-width: 767px;
        margin: 0 auto;
    }

    body {
        background-color: #333 !important;
    }

    .content {
        background-color: #fce5e5;
        padding-bottom: 0;
    }

    .footerMsg {
        margin-bottom: 12px;
    }

    .navigationBar {
        position: sticky;
    }

    .cta {
        margin: 20px auto;
        width: 70%;
    }

    .displayPet {
        margin-left: 20%;
        width: 60%;
    }

}


